.container {
    text-align: center;
    align-items: center;
}

.title {
    margin-top: 50px;
    color: aliceblue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.title span {
    color: #26ffcb;
    padding-left: 50px;

}

.reset {
    width: 250;
    height: 100;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 26px;
    background-color: #1f3540;
    color: #26ffcb;
    /* margin-top: 10px; */
    margin-bottom: 25px;
    margin-left: 130px;
}

.boxes {
    display: flex;
    height: 125px;
    width: 125px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.board {
    height: 450px;
    width: 600px;
    display: flex;
    margin-left: 440px;
    ;
}

.boxes img {
    margin: 50px 50px;
}

.title img {
    padding: 20px 20px;
    height: 50px;
}